body {
    background-color: rgb(169, 188, 205);
    height: 100%;
    overflow-x: hidden;
    margin-right: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: 100%;
    height: 60px;
    background-color: rgb(244, 240, 240);
    position: fixed;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

.header-main-logo {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    size-adjust: center 0%;
}

.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 0;
    width: 100%;
    z-index: 100;
}

.front {
    display: grid;
    width: 100%;
    padding-top: 0;
    height: 80vh;
    margin-right: 0%;
}

.front::before {
    content: "";
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(171, 168, 168, 0.6);
    z-index: 1;
    margin-right: 0%;
}

.head-palace {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 20px;
    margin-top: 20px;
    overflow: hidden;
    max-width: 100%;
}

.head-palace p {
    font-size: 20px;
    text-indent: 50px;
    padding-left: 50px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 100%;
}

.head-palace h1 {
    font-size: 30px;
}

.collab {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    z-index: 0;
}

.collab1 img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px;
}

.vintage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-right: 0%;
    border-right: 0%;
}

.vivi1994 {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    text-indent: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0%;
    overflow: hidden;
    max-width: 100%;
}

.vivi1994 p {
    font-size: 20px;
    text-indent: 50px;
    word-break: break-all;
    text-align: center;
}

.vivi1994 h1 {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: center;
}

.collab2 img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px;
    margin-right: 15px;
    margin-left: 0%;
}

.vivi1998 {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 20px;
    margin-top: 20px;
    overflow: hidden;
    max-width: 100%;
}

.vivi1998 p {
    font-size: 20px;
    text-indent: 50px;
    padding-left: 50px;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 100%;
}

.vivi1998 h1 {
    font-size: 30px;
}

.vivi {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    z-index: 0;
}

.collab3 img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px;
}

.collection2013 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-right: 0%;
    border-right: 0%;
}

.vivi2013 {
    width: 600px;
    height: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    text-indent: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0%;
    overflow: hidden;
    max-width: 100%;
}

.vivi2013 p {
    font-size: 20px;
    text-indent: 50px;
    word-break: break-all;
    text-align: center;
}

.vivi2013 h1 {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: center;
}

.collab4 img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 20px;
    margin-right: 15px;
    margin-left: 0%;
}

.end {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-right: 0%;
}

.end .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(171, 168, 168, 0.6);
    z-index: 102;
}

.end video {
    height: 100%;
    z-index: 1001;
    width: 100%;
}

@media (max-width: 1200px) {
    .collab, .vintage, .vivi, .collection2013 {
        grid-template-columns: repeat(3, 1fr);
    }

    .head-palace, .vivi1994, .vivi1998, .vivi2013 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .collab1 img, .collab2 img, .collab3 img, .collab4 img {
        width: 100%;
        height: auto;
    }

    .end video {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .collab, .vintage, .vivi, .collection2013 {
        grid-template-columns: repeat(2, 1fr);
    }

    .head-palace, .vivi1994, .vivi1998, .vivi2013 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .collab1 img, .collab2 img, .collab3 img, .collab4 img {
        width: 100%;
        height: auto;
    }

    .end video {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .collab, .vintage, .vivi, .collection2013 {
        grid-template-columns: 1fr;
    }

    .head-palace, .vivi1994, .vivi1998, .vivi2013 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .collab1 img, .collab2 img, .collab3 img, .collab4 img {
        width: 100%;
        height: auto;
    }

    .end video {
        width: 100%;
        height: 100%;
    }
}
